$var1: #232323;
$var2: #ededed;
$var3: #fff;
$var4: #000;
$var5: #a6d4d1;
$var6: #46b0a9;
$var7: #4b8f8b;
$var8: #07211f;
$var9: #7a7a7a;
$var10: #d4d0c8;
$var11: #a0a0a0;
$f1: 'Century Gothic';
$f2: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$f3: 'Cascadia Code';
$f4: 'Consolas';

@mixin max(){
    width: 100%;
    max-width: 100%;
}

@mixin auto(){
    margin-left: auto;
    margin-right: auto;
}

header {
    background: linear-gradient(-45deg, $var5, #7dc5c0, $var6, #47948f, $var6, $var5);
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
    max-width: 100%;
	height: 100px;
    margin-bottom: 0;
    svg{
        display: block;
        margin-left: auto;
        margin-right: 2vw;
        transform:translate(-10px,-20px);
    }
}

body{
    @include max();
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html{
    @include max();
    overflow-x: hidden;
}
  
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

#menuToggle
{
	display: block;
	position:relative;
	top: 35px;
	left: 20px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
	a{
		text-decoration: none;
		color: $var1;
		transition: color 0.3s ease;
		font-family: $f4;
		:hover
		{
			color: tomato;
		}
	}
	input
	{
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;
		cursor: pointer;
		opacity: 0; 
		z-index: 2;
		-webkit-touch-callout: none;
	}
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
  	:first-child
	{
	transform-origin: 0% 0%;
	}
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked{
	~ span
	{
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: $var1;
	}
	~ span:nth-last-child(3)
	{
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}
	~ span:nth-last-child(2)
	{
		transform: rotate(-45deg) translate(0, -1px);
	}
	~ ul
	{
		transform: none;
	}
}  

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: $var2;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  li{
	padding: 10px 0;
	font-size: 22px;
  }
}

main{
    @include auto();
    padding-bottom: 30px;
    width:80vw;
    display: block;
	margin-bottom: 1vw;
    background: $var7;
    background-size: 300% 300%;
    animation: gradient 5s ease infinite;
    margin-top: 0;
    text-align: center;
    @media (max-width:600px) {
        width: 85vw;
    }
}

.sec{
    @include auto();
    background-color:#2e6f6b;
    text-align: left;
    font-family: $f1;
    text-indent: 5vw;
    width: 70vw;
    margin-bottom: 4vw;
    font-family: $f1;
    font-size: 1.5vw;
    color: $var2;
	padding: 1vw;
    @media (max-width:600px) {
        width: 80vw;
        font-size: 2.5vw;
    }
}

.sec1{
    @include auto();
    background-color: #415e5c;
    text-indent: 10vw;
    text-align: left;
    width: 65vw;
    margin-bottom: 3vw;
    padding: 1vw;
    padding-bottom: 3vw;
    font-family: $f1;
    font-size: 1.5vw;
    color: $var2;
    @media (max-width:600px) {
        width: 75vw;
        font-size: 3vw;
    }
}

.sec2{
    background-color:#687978;
    @include auto();
    text-align: left;
    width: 55vw;
    margin-bottom: 3vw;
    padding-top: 1vw;
    padding: 1vw;
    font-family: $f1;
    font-size: 1.5vw;
    color: $var2;
    text-indent: 10vw;
    @media (max-width:600px) {
        width: 65vw;
        font-size: 3vw;
    }
}

  .h1
  {
    @include auto();
    background-image: linear-gradient(45deg, #172625, #113936);
    background-size: auto auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    text-transform: uppercase;
    font-family: $f2;
    margin-left: 3vw;
    margin-top: 0.2em;
    margin-bottom: 0em;
    text-shadow: 1.5vw 0.1vw 2vw  #ededed3c;
    font-size: 6vw;
    font-family: $f2;
    @media (max-width:600px) {
      font-size: 12vw;
    }
}

@keyframes textclip {
  to {
    background-position: 100% center;
  }
}

h2{
    @include auto();
    color: $var2;
    font-size: 2.5vw;
    font-family: $f1;
	@media (max-width:600px) {
        font-size: 4vw;
    }
}

h3{
    color: $var2;
    font-size: 40px;
    font-family: $f1;
    text-shadow: 5px 5px 15px #a4a4a4;
    line-height: 8vw;
    text-decoration: underline dotted 5px;
    @media (max-width:600px) {
      font-size: 4vw;
    }
}

h5{
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: $f3;
    color: $var3;
    font-size: 35px;
    text-shadow: 5px 5px 20px $var3;
    text-align: center;
    text-indent: 0%;
}

h6{
    color: $var3;
    margin-top: 2vw;
    margin-bottom: 1vw;
    font-family: $f3;
    font-size: 3.5vw;
    text-shadow: 0.5vw 0.5vw 2vw #a49d9d;
    text-align: center;
    text-indent: 0%;
}

.ol1{
    text-align: left;
    font-family: $f1;
    color: $var3;
    text-decoration: none;
    text-indent: 0%;
    width: 40vw;
    margin-left: 5vw;
    margin-bottom: 4vw;
    @media (max-width:600px) {
        width: 50vw;
    }
}

.ol2{
  text-indent: 0%;
    margin-left: 10vw;
}

.ol3{
    text-indent: 0%;
    margin-left: 8vw;
    line-height: 5vw;
}

.li{
    margin-bottom: 2vw;
    font-size: 1.5vw;
    @media (max-width:600px) {
        font-size: 3vw;
	}
}

a{
    text-decoration: none;
    color:$var2;
    :visited{
        text-decoration: none;
        color:$var2;
    }
}

span{
	color:#0c2926;
  	font-weight: 600;
  	font-family: $f2;
}

.span{
  	font-family: $f4;
    color:$var8;
    font-weight: bold;
    text-align: center;
    text-indent: 0%;
}

.span1{
    font-family: $f1;
    color:$var3;
    text-align: center;
    text-indent: 0%;
}

.span2{
	color:#293534;
  	font-weight: 600;
  	font-family: $f2;
}

.span3{
    font-family: $f4;
    color:$var8;
    font-weight: bold;
    text-align: left;
    text-indent: 30px;
}

.img1{
    @include auto();
    display: block;
    width: 60vw;
}

.img2{
    @include auto();
    display: block;
    width: 50vw;
}

.code1{
    margin-bottom: 50px;
    width: 60vw;
    border: double 0.7vw #0000003f;
    box-shadow: 1vw 0.1vw 5vw #75a4a1;
    @include auto();
}

.sled{
    color: $var4;
    background-color: $var4;
	background: linear-gradient(-45deg, $var9, $var7, $var7, $var9);
    background-size: 300% 300%;
    animation: gradient 8s ease infinite;
    max-width: 100%;
	width: 20vw;
    display: inline-block;
	height: 5vw;
	margin-left: 40vw;
	margin-bottom: 10vw;
	border-radius: 1vw;
	@media (max-width: 600px) {
        width: 25vw;
	    height: 10vw;
        margin-left: 35vw;
    }
}

.sled a{
    display: inline-block;
	font-family: $f1;
	margin-top: 1vw;
	margin-left: 1vw;
    font-size: 1.5vw;
    @media (max-width:600px) {
        font-size: 3vw;
    }
}

.pred{
    color: $var4;
	background-color: $var4;
	background: linear-gradient(-45deg, $var9, $var7, $var7, $var9);
    background-size: 300% 300%;
    animation: gradient 8s ease infinite;
    max-width: 100%;
	width: 20vw;
	height: 5vw;
    display: inline-block;
	margin-top: 5vw;
	margin-left: 10vw;
	margin-right: auto;
	margin-bottom: 0vw;
	border-radius: 1vw;
    @media (max-width: 600px) {
        margin-left: 7vw;
        width: 25vw;
        height: 10vw;
    }
}


.pred a{
    display: inline-block;
	margin-top: 1vw;
	margin-left: 1vw;
    font-size: 1.5vw;
	font-family: $f1;
    @media (max-width:600px) {
        font-size: 3vw;
    }
}

.syntaxhighlighter a,.syntaxhighlighter div,
.syntaxhighlighter code,.syntaxhighlighter table,
.syntaxhighlighter table td,.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,.syntaxhighlighter table thead,
.syntaxhighlighter table caption,.syntaxhighlighter textarea{
  background:0 0;
  border:0;
  bottom:auto;
  float:none;
  height:auto;
  left:auto;
  line-height:1.1em;
  margin:0;
  outline:0;
  overflow:hidden;
  padding:0;
  position:static;
  right:auto;
  text-align:left;
  top:auto;
  vertical-align:baseline;
  width:auto;
  box-sizing:content-box;
  font-family:consolas,bitstream vera sans mono,courier new,Courier,monospace;
  font-weight:400;
  font-style:normal;
  font-size:1em;
  min-height:inherit;
  min-height:auto
}
  
.syntaxhighlighter{
  width:100%;
  margin: 0;
  position:relative;
  overflow:auto;
  font-size:1em
}
  
.syntaxhighlighter.source{
  overflow:hidden
}
  
.syntaxhighlighter .bold{
  font-weight:700
}
  
.syntaxhighlighter .italic{
  font-style:italic
}
  
.syntaxhighlighter .line{
  white-space:pre
}
  
.syntaxhighlighter table{
  width:100%
}
  
.syntaxhighlighter table caption{
  text-align:left;
  padding:.5em 0 .5em 1em
}
  
.syntaxhighlighter table td.code{
  width:100%
}
  
.syntaxhighlighter table td.code .container{
  position:relative
}
  
.syntaxhighlighter table td.code .container textarea{
  box-sizing:border-box;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  border:none;
  background:$var3;
  padding-left:1em;
  overflow:hidden;
  white-space:pre
}
  
.syntaxhighlighter table td.gutter .line{
  text-align:right;
  padding:0 .5em 0 1em
}
  
.syntaxhighlighter table td.code .line{
  padding:0 1em
}
  
.syntaxhighlighter.nogutter td.code .container textarea,
.syntaxhighlighter.nogutter td.code .line{
  padding-left:0
}
  
.syntaxhighlighter.show{
  display:block
}
  
.syntaxhighlighter.collapsed table{
  display:none
}
  
.syntaxhighlighter.collapsed .toolbar{
  padding:.1em .8em 0;
  font-size:1em;
  position:static;
  width:auto;
  height:auto
}
  
.syntaxhighlighter.collapsed .toolbar span{
  display:inline;
  margin-right:1em
}
  
.syntaxhighlighter.collapsed .toolbar span a{
  padding:0;
  display:none
}
  
.syntaxhighlighter.collapsed .toolbar span a.expandSource{
  display:inline
}
  
.syntaxhighlighter .toolbar{
  position:absolute;
  right:1px;
  top:1px;
  width:11px;
  height:11px;
  font-size:10px;
  z-index:10
}
  
.syntaxhighlighter .toolbar span.title{
  display:inline
}
  
.syntaxhighlighter .toolbar a{
  display:block;
  text-align:center;
  text-decoration:none;
  padding-top:1px
}
  
.syntaxhighlighter .toolbar a.expandSource{
  display:none
}
  
.syntaxhighlighter.ie{
  font-size:.9em;
  padding:1px 0
}
  
.syntaxhighlighter.ie .toolbar{
  line-height:8px
}
  
.syntaxhighlighter.ie .toolbar a{
  padding-top:0
}
  
.syntaxhighlighter.printing .line.alt1 .content,.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content{
  background:0 0
}
  
.syntaxhighlighter.printing .line .number{
  color:#bbb
}
  
.syntaxhighlighter.printing .line .content{
  color:$var4
}
  
.syntaxhighlighter.printing .toolbar{
  display:none
}
  
.syntaxhighlighter.printing a{
  text-decoration:none
}
  
.syntaxhighlighter.printing .break,.syntaxhighlighter.printing .break a{
  color:$var4
}
  
.syntaxhighlighter{
  background-color:$var3
}
 
.comments{
  color:#5a9bd4;
}
.syntaxhighlighter .line.alt1{
  background-color:$var3
}
  
.syntaxhighlighter .line.alt2{
  background-color:$var3
}
  
.syntaxhighlighter .line.highlighted.alt1,.syntaxhighlighter .line.highlighted.alt2{
  background-color:#c3defe
}
  
.syntaxhighlighter .line.highlighted.number{
  color:$var3
}
  
.syntaxhighlighter table caption{
  color:$var4
}
  
.syntaxhighlighter .gutter{
  color:#787878
}
  
.syntaxhighlighter .gutter .line{
  border-right:3px solid $var10
}
  
.syntaxhighlighter .gutter .line.highlighted{
  background-color:$var10;
  color:$var3
}
  
.syntaxhighlighter.printing .line .content{
  border:none
}
  
.syntaxhighlighter.collapsed{
  overflow:visible
}
  
.syntaxhighlighter.collapsed .toolbar{
  color:#3f5fbf;
  background:$var3;
  border:1px solid $var10
}
  
.syntaxhighlighter .toolbar{
  color:$var11;
  background:$var10;
  border:none
}
  
.syntaxhighlighter .toolbar a{
  color:$var11
}
  
.syntaxhighlighter .plain,.syntaxhighlighter .plain a{
  color:$var4
}

.syntaxhighlighter .string,.syntaxhighlighter .string a{
  color:#2a00ff
}
  
.syntaxhighlighter .keyword{
  color:#4abeb7;
}
  
.syntaxhighlighter .color1,.syntaxhighlighter .color1 a{
  color:gray
}
  
.syntaxhighlighter .keyword{
  font-weight:700
}
  
.syntaxhighlighter .xml .string{
  font-style:italic;
  color:#2a00}