header {
  background: linear-gradient(-45deg, #69849a, #7883c1, #4667de, #b0cdf5);
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  max-width: 100%;
  margin-bottom: 0;
  height: 100px;
}
header svg {
  display: block;
  margin-left: auto;
  margin-right: 2vw;
  transform: translate(-10px, -20px);
}

body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#menuToggle {
  display: block;
  position: relative;
  top: 35px;
  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
  font-family: "Consolas";
}
#menuToggle a :hover {
  color: tomato;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span :first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menuToggle input:checked ~ ul {
  transform: none;
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 10px 0;
  font-size: 22px;
}

main {
  margin-left: auto;
  margin-right: auto;
  background: #4b79c5;
  background-size: 300% 300%;
  animation: gradient 5s ease infinite;
  margin-top: 0;
  text-align: center;
  padding-bottom: 30px;
  width: 80vw;
  display: block;
  margin-bottom: 1vw;
}
@media (max-width: 600px) {
  main {
    width: 85vw;
  }
}

.h1 {
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  background-image: linear-gradient(45deg, #d6dbfb, #739fe6);
  background-size: auto auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 3vw;
  margin-top: 0.2em;
  margin-bottom: 0em;
  text-shadow: 1.5vw 0.1vw 2vw rgba(237, 237, 237, 0.6352941176);
  font-size: 6vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media (max-width: 600px) {
  .h1 {
    font-size: 12vw;
  }
}

@keyframes textclip {
  to {
    background-position: 100% center;
  }
}
h2 {
  margin-left: auto;
  margin-right: auto;
  color: #ededed;
  font-size: 2.5vw;
  font-family: "Century Gothic";
}
@media (max-width: 600px) {
  h2 {
    font-size: 4vw;
  }
}

.ol1 {
  text-align: left;
  font-family: "Century Gothic";
  color: #fff;
  text-indent: 0%;
  text-decoration: none;
  width: 40vw;
  margin-left: 5vw;
  margin-bottom: 4vw;
}
@media (max-width: 600px) {
  .ol1 {
    width: 50vw;
  }
}

.ol2 {
  text-indent: 0%;
  margin-left: 10vw;
}

.li {
  margin-bottom: 2vw;
  font-size: 1.5vw;
}
@media (max-width: 600px) {
  .li {
    font-size: 3vw;
  }
}

a {
  text-decoration: none;
  color: #ededed;
}
a :visited {
  text-decoration: none;
  color: #ededed;
}

h3 {
  color: #ededed;
  font-size: 40px;
  font-family: "Century Gothic";
  text-shadow: 5px 5px 15px #a4a4a4;
  margin-top: 5vw;
  line-height: 8vw;
  -webkit-text-decoration: underline dotted 5px;
          text-decoration: underline dotted 5px;
}
@media (max-width: 600px) {
  h3 {
    font-size: 4vw;
  }
}

.h4 {
  margin-left: auto;
  margin-right: auto;
  color: #3234ba;
  text-align: center;
  text-indent: 0%;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
  margin-top: 3vw;
  margin-bottom: 3vw;
  font-family: "Cascadia Code";
  font-size: 2vw;
  width: 60vw;
  text-shadow: 0.5vw 0.5vw 2vw #a49d9d;
}
@media (max-width: 600px) {
  .h4 {
    width: 70vw;
    font-size: 3vw;
  }
}

.h5 {
  margin-top: 2vw;
  margin-bottom: 1vw;
  font-family: "Cascadia Code";
  color: #fff;
  font-size: 3.5vw;
  text-shadow: 0.5vw 0.5vw 2vw #fff;
  text-align: center;
  text-indent: 0%;
}

.h6 {
  margin-top: 2vw;
  margin-bottom: 1vw;
  font-family: "Cascadia Code";
  color: #fff;
  font-size: 3vw;
  text-shadow: 5px 5px 20px #a49d9d;
  text-align: center;
  text-indent: 0%;
}

span {
  color: #243d8f;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgba(39, 77, 205, 0.5803921569);
  font-weight: bold;
  text-align: center;
  text-indent: 0%;
}

.span1 {
  font-family: "Century Gothic";
  color: #fff;
  text-align: center;
  text-indent: 0%;
}

.span2 {
  font-family: "Consolas";
  text-align: center;
  color: rgba(39, 78, 205, 0.7529411765);
  font-weight: bold;
  text-indent: 0%;
  text-decoration: line-through;
}

.span3 {
  font-family: "Consolas";
  text-align: center;
  color: #152152;
  font-weight: bold;
  text-indent: 0%;
  font-size: 2em;
}

.sec {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-family: "Century Gothic";
  background-color: rgba(127, 169, 214, 0.5803921569);
  text-indent: 5vw;
  width: 70vw;
  margin-bottom: 4vw;
  font-family: "Century Gothic";
  font-size: 1.5vw;
  color: #ededed;
  padding: 1vw;
}
@media (max-width: 600px) {
  .sec {
    width: 80vw;
    font-size: 2.5vw;
  }
}

.sec1 {
  margin-left: auto;
  margin-right: auto;
  text-indent: 10vw;
  text-align: left;
  width: 65vw;
  margin-bottom: 3vw;
  padding: 1vw;
  font-family: "Century Gothic";
  font-size: 1.5vw;
  color: #ededed;
  background-color: rgba(136, 161, 205, 0.5803921569);
}
@media (max-width: 600px) {
  .sec1 {
    width: 75vw;
    font-size: 3vw;
  }
}

.sec2 {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 55vw;
  margin-bottom: 3vw;
  padding-top: 1vw;
  padding: 1vw;
  font-family: "Century Gothic";
  font-size: 1.5vw;
  color: #ededed;
  background-color: rgba(182, 199, 227, 0.5803921569);
  text-indent: 10vw;
}
@media (max-width: 600px) {
  .sec2 {
    width: 65vw;
    font-size: 3vw;
  }
}

.ul1 {
  text-align: left;
  margin-left: 4vw;
  text-indent: 0px;
}

.tg {
  width: 65vw;
}
@media (max-width: 600px) {
  .tg {
    width: 75vw;
  }
}

.divcode {
  margin-left: auto;
  margin-right: auto;
  border-top: double 0.7vw rgba(0, 0, 0, 0.2470588235);
  border-bottom: double 0.7vw rgba(0, 0, 0, 0.2470588235);
  box-shadow: 0.1vw 0.1vw 5vw #a0a0a0;
  margin-bottom: 10vw;
}

.code1 {
  margin-bottom: 50px;
  width: 60vw;
  border: double 0.7vw rgba(0, 0, 0, 0.2470588235);
  box-shadow: 1vw 0.1vw 5vw #cfc5c5;
  margin-left: auto;
  margin-right: auto;
}

.ps {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Cascadia Code";
  color: #fff;
  font-size: 35px;
  text-shadow: 5px 5px 20px #201c1c;
  text-align: left;
  text-indent: 0%;
}

.sled {
  width: 20vw;
  display: inline-block;
  height: 5vw;
  margin-left: 40vw;
  color: #000;
  background-color: #000;
  margin-bottom: 10vw;
  border-radius: 1vw;
  background: linear-gradient(-45deg, #7a7a7a, #4b79c5, #4b79c5, #7a7a7a);
  background-size: 300% 300%;
  animation: gradient 8s ease infinite;
  max-width: 100%;
}
@media (max-width: 600px) {
  .sled {
    width: 25vw;
    height: 10vw;
    margin-left: 35vw;
  }
}

.sled a {
  display: inline-block;
  font-family: "Century Gothic";
  margin-top: 1vw;
  margin-left: 1vw;
  font-size: 1.5vw;
}
@media (max-width: 600px) {
  .sled a {
    font-size: 3vw;
  }
}

.pred {
  width: 20vw;
  height: 5vw;
  display: inline-block;
  margin-top: 5vw;
  margin-left: 10vw;
  margin-right: auto;
  color: #000;
  background-color: #000;
  margin-bottom: 0vw;
  border-radius: 1vw;
  background: linear-gradient(-45deg, #7a7a7a, #4b79c5, #4b79c5, #7a7a7a);
  background-size: 300% 300%;
  animation: gradient 8s ease infinite;
  max-width: 100%;
}
@media (max-width: 600px) {
  .pred {
    margin-left: 7vw;
    width: 25vw;
    height: 10vw;
  }
}

.pred a {
  display: inline-block;
  margin-top: 1vw;
  margin-left: 1vw;
  font-size: 1.5vw;
  font-family: "Century Gothic";
}
@media (max-width: 600px) {
  .pred a {
    font-size: 3vw;
  }
}

.syntaxhighlighter a, .syntaxhighlighter div,
.syntaxhighlighter code, .syntaxhighlighter table,
.syntaxhighlighter table td, .syntaxhighlighter table tr,
.syntaxhighlighter table tbody, .syntaxhighlighter table thead,
.syntaxhighlighter table caption, .syntaxhighlighter textarea {
  background: 0 0;
  border: 0;
  bottom: auto;
  float: none;
  height: auto;
  left: auto;
  line-height: 1.1em;
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: 0;
  position: static;
  right: auto;
  text-align: left;
  top: auto;
  vertical-align: baseline;
  width: auto;
  box-sizing: content-box;
  font-family: consolas, bitstream vera sans mono, courier new, Courier, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  min-height: inherit;
  min-height: auto;
}

.syntaxhighlighter {
  width: 100%;
  margin: 0;
  position: relative;
  overflow: auto;
  font-size: 1em;
}

.syntaxhighlighter.source {
  overflow: hidden;
}

.syntaxhighlighter .bold {
  font-weight: 700;
}

.syntaxhighlighter .italic {
  font-style: italic;
}

.syntaxhighlighter .line {
  white-space: pre;
}

.syntaxhighlighter table {
  width: 100%;
}

.syntaxhighlighter table caption {
  text-align: left;
  padding: 0.5em 0 0.5em 1em;
}

.syntaxhighlighter table td.code {
  width: 100%;
}

.syntaxhighlighter table td.code .container {
  position: relative;
}

.syntaxhighlighter table td.code .container textarea {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: #fff;
  padding-left: 1em;
  overflow: hidden;
  white-space: pre;
}

.syntaxhighlighter table td.gutter .line {
  text-align: right;
  padding: 0 0.5em 0 1em;
}

.syntaxhighlighter table td.code .line {
  padding: 0 1em;
}

.syntaxhighlighter.nogutter td.code .container textarea,
.syntaxhighlighter.nogutter td.code .line {
  padding-left: 0;
}

.syntaxhighlighter.show {
  display: block;
}

.syntaxhighlighter.collapsed table {
  display: none;
}

.syntaxhighlighter.collapsed .toolbar {
  padding: 0.1em 0.8em 0;
  font-size: 1em;
  position: static;
  width: auto;
  height: auto;
}

.syntaxhighlighter.collapsed .toolbar span {
  display: inline;
  margin-right: 1em;
}

.syntaxhighlighter.collapsed .toolbar span a {
  padding: 0;
  display: none;
}

.syntaxhighlighter.collapsed .toolbar span a.expandSource {
  display: inline;
}

.syntaxhighlighter .toolbar {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 11px;
  height: 11px;
  font-size: 10px;
  z-index: 10;
}

.syntaxhighlighter .toolbar span.title {
  display: inline;
}

.syntaxhighlighter .toolbar a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding-top: 1px;
}

.syntaxhighlighter .toolbar a.expandSource {
  display: none;
}

.syntaxhighlighter.ie {
  font-size: 0.9em;
  padding: 1px 0;
}

.syntaxhighlighter.ie .toolbar {
  line-height: 8px;
}

.syntaxhighlighter.ie .toolbar a {
  padding-top: 0;
}

.syntaxhighlighter.printing .line.alt1 .content, .syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number, .syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content {
  background: 0 0;
}

.syntaxhighlighter.printing .line .number {
  color: #bbb;
}

.syntaxhighlighter.printing .line .content {
  color: #000;
}

.syntaxhighlighter.printing .toolbar {
  display: none;
}

.syntaxhighlighter.printing a {
  text-decoration: none;
}

.syntaxhighlighter.printing .break, .syntaxhighlighter.printing .break a {
  color: #000;
}

.syntaxhighlighter {
  background-color: #fff;
}

.comments {
  color: #5a9bd4;
}

.syntaxhighlighter .line.alt1 {
  background-color: #fff;
}

.syntaxhighlighter .line.alt2 {
  background-color: #fff;
}

.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #c3defe;
}

.syntaxhighlighter .line.highlighted.number {
  color: #fff;
}

.syntaxhighlighter table caption {
  color: #000;
}

.syntaxhighlighter .gutter {
  color: #787878;
}

.syntaxhighlighter .gutter .line {
  border-right: 3px solid #d4d0c8;
}

.syntaxhighlighter .gutter .line.highlighted {
  background-color: #d4d0c8;
  color: #fff;
}

.syntaxhighlighter.printing .line .content {
  border: none;
}

.syntaxhighlighter.collapsed {
  overflow: visible;
}

.syntaxhighlighter.collapsed .toolbar {
  color: #3f5fbf;
  background: #fff;
  border: 1px solid #d4d0c8;
}

.syntaxhighlighter .toolbar {
  color: #a0a0a0;
  background: #d4d0c8;
  border: none;
}

.syntaxhighlighter .toolbar a {
  color: #a0a0a0;
}

.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: #000;
}

.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: #2a00ff;
}

.syntaxhighlighter .keyword {
  color: #00487f;
}

.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: gray;
}

.syntaxhighlighter .keyword {
  font-weight: 700;
}

.syntaxhighlighter .xml .string {
  font-style: italic;
  color: #2a00ff;
}/*# sourceMappingURL=lec3.css.map */