header {
  background: linear-gradient(-45deg, #154fb3, #4d2a80, #3d81b1, #757fcb);
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  max-width: 100%;
  height: 100px;
}
header svg {
  display: block;
  margin-left: auto;
  margin-right: 2vw;
  transform: translate(-10px, -20px);
}

body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#menuToggle {
  display: block;
  position: relative;
  top: 35px;
  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
  font-family: "Consolas";
}
#menuToggle a :hover {
  color: tomato;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span :first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menuToggle input:checked ~ ul {
  transform: none;
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 10px 0;
  font-size: 22px;
}

main {
  width: 80vw;
  max-height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  background: linear-gradient(-45deg, #6a7ab0, #fff);
  background-size: 300% 300%;
  display: block;
  padding-left: 1vw;
  animation: gradient 5s ease infinite;
}

.div {
  margin-top: 30px;
  margin-left: 1vw;
  margin-right: auto;
  display: inline-flex;
  background: rgba(107, 114, 168, 0.4);
  width: 17em;
  height: 17em;
  box-shadow: 5px 10px 15px #ece2e2;
  border-radius: 10px;
}
@media (max-width: 1600px) {
  .div {
    width: 22vw;
    height: 22vw;
  }
}
@media (max-width: 800px) {
  .div {
    width: 34vw;
    height: 34vw;
  }
}
@media (max-width: 500px) {
  .div {
    width: 33vw;
    height: 33vw;
  }
}
@media (max-height: 600px) {
  .div {
    width: 15em;
    height: 15em;
  }
}

#div:hover {
  box-shadow: 10px 10px 15px #4b4195;
}

.container {
  width: 78vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3vw;
  box-sizing: border-box;
}
@media (max-height: 600px) {
  .container {
    padding-left: 9vw;
  }
}
@media (max-width: 600px) {
  .container {
    padding-left: 2.5vw;
  }
}

h2 {
  color: aliceblue;
  font-family: "Lucida Console";
  margin-left: 2vw;
  font-size: 2em;
  text-shadow: 5px 5px 10px #ece2e2;
  display: flex;
}
@media (max-width: 1300px) {
  h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 600px) {
  h2 {
    font-size: 1.3em;
  }
}
@media (max-width: 500px) {
  h2 {
    font-size: 1em;
  }
}

.h1 {
  margin-left: 15vw;
  margin-top: 0.2em;
  margin-bottom: 0em;
  text-transform: uppercase;
  background-image: linear-gradient(-45deg, #b9c6ce 0%, #4b4195 20%, #b9c6ce 49%, #4b4195 60%, #b9c6ce 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: block;
  font-size: 8vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media (max-width: 1450px) {
  .h1 {
    margin-left: 17vw;
  }
}

@keyframes textclip {
  to {
    background-position: 100% center;
  }
}
h3 {
  color: #ededed;
  display: block;
  width: 200px;
  margin-top: 3vw;
  margin-left: 2vw;
  font-size: 1.5em;
  font-family: "Century Gothic";
  text-align: right;
}
@media (max-width: 1300px) {
  h3 {
    font-size: 0.9em;
    margin-left: 1vw;
    width: 4em;
  }
}
@media (max-width: 600px) {
  h3 {
    font-size: 1em;
    margin-left: 2vw;
    width: 4em;
  }
}
@media (max-width: 500px) {
  h3 {
    font-size: 0.7em;
    margin-left: 2vw;
    width: 2em;
  }
}

span {
  display: inline;
  animation: ani 10s linear infinite;
  color: linear-gradient(-45deg);
  font-size: 33px;
}

@keyframes ani {
  0% {
    color: #b9c6ce;
  }
  20% {
    color: #4b4195;
  }
  49% {
    color: #b9c6ce;
  }
  60% {
    color: #4b4195;
  }
  100% {
    color: #b9c6ce;
  }
}
a {
  text-decoration: none;
}
a :visited {
  text-decoration: none;
  color: #ededed;
}/*# sourceMappingURL=lec.css.map */